obj/Debug/netcoreapp2.2/MMCSS.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/MMCSS.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/MMCSS.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/MMCSS.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/project.razor.json
